<h1>Upload a Song</h1>

<% if @song.errors.any? %>
  <div>
    <strong>Looks like we have some issues with your song:</strong>
    <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<form class="lead" method="post" action="/songs/new">
  <div>
    <label class="col-md-4">Author:</label>
    <input class="col-md-6" type="text" name="author" value="<%= @song.author %>">
  </div>
  <div>
    <label class="col-md-4">Title:</label>
    <input class="col-md-6" type="text" name="title" value="<%= @song.title %>">
  </div>
  <div>
    <label class="col-md-4">Url (Optional):</label>
    <input class="col-md-6" type="text" name="url" value="<%= @song.url %>">
  </div>
  <div>
    <input class="btn btn-lg btn-success" type="submit" value="Post Song">
  </div>

</form>
